/******************************************************************
Site Name: BREW
Author: Dan Brown

Stylesheet: Global Stylesheet

Styles and classes used throughout the entire BREW framework

******************************************************************/
body {
  background-color: #fdee00;
}
body.admin-bar .navbar-fixed-top {
  top: 46px;
}
@media (min-width: 783px) {
  body.admin-bar .navbar-fixed-top {
    top: 32px;
  }
}
.center {
  text-align: center;
}
.img-center {
  margin: 0 auto;
}
/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/
/*********************
LINK STYLES
*********************/
a,
a:visited {
  /* on hover */
  /* on click */
  /* mobile tap color */
}
a:link,
a:visited:link {
  /*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
}
.navbar-header {
  text-align: center;
  width: 100%;
}
.navbar-header .navbar-brand {
  margin: 0 auto;
  min-height: 75px;
  height: auto;
  margin-left: 40px;
  display: inline-block;
  text-align: center;
}
.navbar-header .navbar-toggle {
  position: absolute;
  top: 15px;
  left: 5px;
}
.navbar-header .navbar-toggle .icon-bar {
  background-color: #197CB7;
}
.navbar-header .navbar-toggle .txt-menu {
  color: #197CB7;
  font-size: 0.55em;
  line-height: 2em;
  float: left;
}
